<div class="page-container">

  <!-- LEFT: Future Matches -->
  <div class="matches-section">
    <h2>Predict Future Matches</h2>

    
    <table *ngIf="matches.length > 0" class="matches-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Match</th>
          <th>Predict Winner</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let m of matches">
          <td>{{ m.match_date }}</td>
          <td>{{ m.team1Name }} vs {{ m.team2Name }}</td>
          <td>
            <select [ngModel]="m.predictedWinner" (change)="selectWinnerEvent(m, $event)">
              <option value="">Select</option>
              <option [value]="m.team1Name">{{ m.team1Name }}</option>
              <option [value]="m.team2Name">{{ m.team2Name }}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- RIGHT: Standings -->
  <div class="standings-section">
    <h2>Current Standings</h2>

    <table class="standings-table" *ngIf="teams.length > 0">
      <thead>
        <tr>
          <th>Team</th>
          <th>Played</th>
          <th>Won</th>
          <th>Lost</th>
          <th>Points</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let t of predictionTeams; let i = index" 
            [class.top-four]="i < 4"
            [ngClass]="{
                'moved': t.justMoved
            }">
          <td>{{ t.name }}</td>
          <td>{{ t.played }}</td>
          <td>{{ t.won }}</td>
          <td>{{ t.lost }}</td>
          <td>{{ t.points }}</td>
        </tr>
      </tbody>
    </table>
    <div>
        <button class="simulate-btn" (click)="simulateAll()">Simulate All Matches</button>

        <button class="reset-btn" (click)="resetPage()">Reset Page</button>
    </div>
  </div>

</div>
